.navbar-nav a{
    font-size: 18px;
}
.item{
    padding: 5rem 3rem;
    margin: 0 auto;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem 0rem;
    box-sizing: border-box ;
}
.item1{
    padding: 5rem 3rem;
    margin: 0 auto;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    gap: 3rem 1rem;
    box-sizing: border-box ;
}
.item2{
    padding: 5rem 3rem;
    margin: 0 auto;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    gap: 3rem 1rem;
    box-sizing: border-box ;
}
.item3{
    padding: 5rem 3rem;
    margin: 0 auto;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    gap: 3rem 1rem;
}
.details{
    padding: 5rem 3rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 3rem 1rem;
    box-sizing: border-box ;
}
.item a{
    text-decoration: none;
}
.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.1);
    border: 6px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    max-width: 450px;
}
.producto:hover{
    border: 2px solid black;
    
}
.itemdetail{
    max-width: 250px;
}
.cant{
    font-size: 17px;
}
.main-footer {
    color: black;
    background-color: white;
    padding-top: 3em;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 5px;
    box-sizing: border-box ;
    box-shadow: 10px 10px 10px 20px rgba(0, 0, 0, 0.1);
    border: 5px black;
}
body{
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 3em;
}
.IconosFoot1{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    padding-right: 0.5rem;
    margin-top: 1rem;
}
.IconosFoot1 i{
    color: black;
}
.IconosFoot{
    display: flex;
    text-align: center;
    align-items: center;
}
.btn a {
    text-decoration: none;
}
.btn{
    color: black;
}
.btn a {
    color: black !important;
}
.clear{
    width: 350px; 
    margin: 50px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: space-around;
}
.order{
    text-align: center;
    margin: 15px;
    padding: 5px;
}
.totalD{
    margin-top: 300px;
}
.totalD h4{
    box-shadow: 1px 3px 3px 2px rgba(0, 0, 0, 0.1);
    border: 2px solid black;
    padding: 15px;
    border-radius: 5px;   
}
.colum {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.ubicacion{
    margin-bottom: 50px;
}
.pre-order{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, 0.1);
    border: 6px solid transparent;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    width: 450px;
    margin-bottom: 20px;
}
.pre-order:hover{
    border: 2px solid black; 
}
.lead p{
    font-size: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    padding: 0px 300px;   
}
.lead h2{
    margin: 75px;
}
.iframe p{
    text-align: center;
    font-size: 24px;
    margin-bottom: 100px;
}
.video{
    text-align: center; 
    margin-bottom: 300px;   
}
.UC{
    margin-top: 250px;
    margin-bottom: 100px;
}
.clock{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.productWrapper {
    display: flex;
    margin: auto;
    width: calc (100% - 35px);
    padding: 0 2px;
}
.productCard {
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.productDescription {
    padding: 30px;
    margin: 10px;
    text-align: left;
}
.purchaseSection {
    padding: 30px;
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.counter {
    display: flex;
    flex-direction: column;
    
}
.productContainer {
    margin-bottom: 4px;
}

.productPhoto {
    height: 550px;
    width: 450px;
}
.productName {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    margin: 10px;
    width: 100vh;
}
.productPrice {
    letter-spacing: 2px;
    font-size: 20px;
    margin: 10px;
    margin-bottom: 30px;
}
.totalDetail{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-bottom: 30px;
}
.detailProduct{
    text-decoration: underline;
}
.sectionText {
    text-align: left;
    margin: 10px;
}
.count{
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: black;
    color:white;
    margin-bottom: 4px;
}
.button{
    background-color: black;
    border-style: none;
    padding:10px;
}
.quantity{
    padding:0 1px;
    margin:0 1px;
}
.cartIsEmpty {
    text-align: center;
    font-weight: lighter;
    margin: 150px;
}
.containerF {
    display: flex;
    flex-direction: row;
    padding: 5px 20px 15px 20px;
    justify-content: space-around;
    margin-bottom: 300px;
}
.form {
    padding: 10px;
    margin: 10px;
}
.order-details {
    padding: 10px;
    margin: 10px;
}  
.input {
    width: 100%;
    margin-bottom: 8px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
}  
.label {
    margin-bottom: 4px;
    display: block;
    font-size: 16px;
} 
.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 16px;
}
.fa-linkedin{
    color: black;
}  
.formulario{
    margin-bottom: 400px;
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 800px) {
    .container {
    flex-direction: column-reverse;
    }
.productDetail {
    display: flex;
    flex-direction: row;
    justify-content: left;
    }
.item {    
    padding: 5rem 3rem;
    margin: 0 auto;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 3rem 0rem;
    box-sizing: border-box ;   
    }
.item3, .productWrapper, .productCard{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    padding: 5rem 3rem;
    margin-bottom: 150px;
    max-width: 100px;
    }
    .productName{
        font-size: 13px;
        text-align: center;
    }
}